.loadMoreBtn {
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    background-color: #0d00ff;
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .loadMoreBtn:hover {
    background-color: #ff0000;
  }
  
  .loadMoreBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }